

.mainBoard{

    background-color: aliceblue;
    border: 2px solid black;
    width: 17em;
    height: 17em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    
}