.App{
  background-color: aquamarine;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newGameButton{
  margin-top: 2em;
  border-radius: 23px;
  background-color: rgb(187, 192, 141);
  font-size: 1.2em
}
.turns{
  background-color: rgba(137, 43, 226, 0.349);
  font-size: 1.3em;
  margin: 1em;
  border-radius: 20px;
  padding: 0.5em 1em 0.5em 1em;
}
.wins{
  background-color: rgba(221, 69, 22, 0.349);
  font-size: 1.3em;
  margin: 1em;
  border-radius: 20px;
  padding: 0.5em 1em 0.5em 1em;
}